body {
    margin: 0;
    padding: 0;
  }
  .Before {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://i.pinimg.com/736x/bf/3e/49/bf3e49ea79ec68a80a8b06ae47564b21.jpg ");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
  }
  
  .AND {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    height: 100vh;
    width: 100vw;
  }
  
  .Now {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://p16-va.lemon8cdn.com/tos-alisg-v-a3e477-sg/o0VAIKFfA6gv1xJHDADJQSxlbHMAyED7AeEzf0~tplv-tej9nj120t-origin.webp");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
  }