body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #f4f4f4;
    height: 100vh;
    margin: 0;
    text-align: center;
  }
  
  .profile-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
    max-height: 600px;
    text-align: center;
    margin: auto auto;
  }
  
  .profile-header{
    padding: 0;
  }
  
  .profile-img {
    width: 100%;
    height: 100%;
  }
  
  .infor{
    margin: 7px;
  }
  .under{
    opacity: 50%;
  }
  .logo{
    width: 20px;
  }
  table, th, td {
    border: none;
    border-collapse: collapse;
  }
  
  .link{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 50px;
    background-color: black;
    color: #f4f4f4;
    cursor:pointer ;
  }
  
  .logo_set{
    margin: 8px;
  }